.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site-navbar{
  display: grid;
}

@media only screen and (min-width: 768px){
.nav{
  justify-self: center;
  font-size: 1.2rem;
}
}
.nav{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  margin-top: 10px;
  padding: .96rem;
}


.nav li{
  list-style: none;
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  
}

.nav li > a:hover{
  text-shadow: 0 1px 1px rgba(0,0,0,.15);
  cursor: pointer;
}

.intro-section .header{
  color: #fff !important;
  line-height: 2.25rem;
  margin: 30px 0;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.15);
}

.nav li > a{
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 1.5rem;
  padding-left: .1875rem;
  padding-right: .1875rem;
  color: white;
  text-decoration: none;
}

.nav__image{
  position: absolute;
  right: 0;
  top: 0;
  width: 200vw;
  z-index: -1;
}

.intro-section{
  padding-top: 2rem;
  margin-bottom: 4rem;
}

.section-header{
  padding-top: 2rem !important;
  margin-bottom: 4rem !important;
}

.intro-card .header{
  margin-top: 15px;
  color: #00b7ff;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.intro-card .description{
  color: #6c80a4;
  letter-spacing: .2px;
  max-width: 500px;
  line-height: 1.5rem;
  font-weight: 600;
}

.intro-card .description span {
  color: #4D4F5C;
}

.header_underline{
  border: 0;
  border-top: 2px solid #09f;
  height: 1px;
  margin-top: 4px;
  width: 30px;
}
.intro-card{
  padding: 2rem !important;
  padding-top: 1.5rem !important;
  padding-bottom: 3rem !important;
  text-align: center;
  max-width: 60% !important;
  min-width: 300px;
}

.intro-card:hover{
  cursor: pointer;
}

.about-me{
  padding-bottom: 0 !important;
}
.about-me .column{
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.about-me .column.description{
  padding-right: 0px !important;
}

.card-container{
  margin-bottom: 6rem;
}

.item-list {
  list-style: none;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
  padding-left: 15px !important;
}

.item-list.main li{
  color: #6c80a4;
}
.item-list li{
  width: 140px;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.7;
  font-weight: 700;
  white-space: nowrap;
}
ul.languages li:before{
  background-color: #00b9ff;
}

ul.frameworks li:before{
  background-color: #16d97e;
}

ul.platforms li:before{
  background-color: #FF00B2;
}
ul.tools li:before{
  background-color: #5438DC;
}
.item-list li:before{
  border-radius: 3px;
  content: "";
  display: inline-block;
  height: 10px;
  margin-right: .375rem;
  width: 10px;
}
@media only screen and (min-width: 992px){
  .project{
    -webkit-box-align: center;
      align-items: center;
      display: grid;
      grid-gap: 2.622rem;
      grid-template-columns: 1fr 1fr;
      margin: 70px;
      max-width: 1000px !important;
  }
}

.project{
  color: #fff;
  justify-self: center;
  padding: 3.45rem 1.875rem;
  text-shadow: 0 1px 1px rgba(0,0,0,.15);
  width: 100%;
  max-width: 500px;
}
.project__info{
  background: transparent;
  border: 0;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  outline: 0;
  height: 100%;
  padding: 0;
  vertical-align: baseline;
}

.project__info .header{
  color: white !important;
}

.project__info p{
  font-size: 1.2rem !important;
  line-height: 1.5rem !important;
}
.project__image img{
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(86,18,142,.1), 0 3px 30px rgba(86,18,142,.2);
  margin-bottom: 1.122rem;
  transition: all .3s cubic-bezier(.25,.8,.25,1);
  width: 100%;
}

.project__image img:hover{
  box-shadow: 0 19px 28px rgba(0,0,0,.1), 0 12px 12px rgba(0,0,0,.1);
  cursor: pointer;
}

.project__buttons{
  position: absolute;
  float: right;
  bottom: 0;
  right: 0;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.project__buttons .label {
  color: black !important;
}

.ui.container.gradient{
  width: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.gradient{
  margin-left: 0px !important;
  margin-right: 0px !important;
  display: grid !important;
  position: relative;
}
.gradient.cr{
  /*background: linear-gradient(#fa709a,#fee140);*/
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}

.gradient.lot{
  background: linear-gradient(#30cfd0,#330867);
}

/* Ripe Malinka*/
.gradient.ei{
  background: linear-gradient(#f093fb,#f5576c);
}

.gradient.shout{
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}

.footer {
  border-top: 1px solid hsla(0,0%,43.9%,.144);
  padding: 2.622rem;
  text-align: center;
}

@media only screen and (min-width: 992px){
  .contact-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
}

.contact-list{
  list-style: none;
  padding-left: 0;
}

.contact-list li{
  padding: 0.55rem;
}

.contact-list li a{
  color: #4D4F5C !important;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.contact-list li a i{
  color: #00b7ff !important;
}


.Flipcard-front{
  width: 100% !important;
  position: relative !important;
  overflow-x: visible !important;
  cursor: inherit !important;
}
.intro-card{
  position: relative;
}
.Flipcard-back{
  width: 100% !important;
  overflow-x: visible !important;
  cursor: inherit !important;
}

.flip-button{
  width: 40px;
}